@font-face {
    font-family: 'Formula1-Bold';
    src: url('./fonts/Formula1-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Formula1-Regular';
    src: url('./fonts/Formula1-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Formula1-Wide';
    src: url('./fonts/Formula1-Wide.woff') format('woff');
}

@font-face {
    font-family: 'titillium-regular';
    src: url('./fonts/titillium-regular.woff') format('woff');
}
