<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta
    name="viewport"
    content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
  />
  <title>Web API Project</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.1/iframeResizer.contentWindow.js"></script>
</head>
<body>
    <div id="root"></div>
    <% for (item of htmlWebpackPlugin.options.scripts) { %>
      <script src="<%= htmlWebpackPlugin.options.files.publicPath %><%= item.src %>" type="<%= item.type %>"></script>
    <% } %>
  </body>
</html>